:{$PORT}

root * /app/public

handle /assets/* {
    file_server
}

handle /api/* {
  reverse_proxy localhost{$HTTP_ADDR}
}

handle /ping {
  reverse_proxy localhost{$HTTP_ADDR}
}

handle /r/* {
  reverse_proxy localhost{$HTTP_ADDR}
}

handle {
    file_server
}
