{
    admin off
}

:{$PORT}

root * /app/public

route {
    # Статика
    handle /assets/* {
        file_server
    }

    # Корень (UI)
    handle / {
        file_server
    }

    # Всё остальное — в Go
    reverse_proxy localhost:8080
}

