services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d appdb"]
      interval: 3s
      timeout: 3s
      retries: 20

  migrate:
    image: golang:1.23-alpine
    working_dir: /app
    volumes:
      - ./:/app
      - gomodcache:/go/pkg/mod
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    command:
      - sh
      - -c
      - >
        go version &&
        go env -w GOPROXY=https://proxy.golang.org,direct &&
        go run github.com/pressly/goose/v3/cmd/goose@v3.26.0
        -dir ./db/migrations postgres "$$DATABASE_URL_DOCKER" up
    restart: "no"

volumes:
  pgdata:
  gomodcache:
